{% extends 'enroll/base.html' %}
{% block content %} 
<div class="row" style="color:aquamarine">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add New Customer</h4>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Add">
            <a href="enroll\templates\enroll\view_records.html"><input type="button" class="btn btn-success" value="View Record"></a>
        </form>
    </div>
</div>
{% endblock content %}